* {
    padding: 0;
    --background: #464d49;
    --text-color: #ffffff;
    --primary-button: #cfded5;
    --primary-button-text: #454a47;
    --secondary-button: #545b57;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background);
    color: var(--text-color);
}

div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#videos > video {
    background: black;
    width: 640px;
    height: 100%;
    display: block;
    margin: 1em;
}
